master.pdf
A-1-2.aux
A-1-2.log
A-1-6.aux
A-1-6.log
A-1-10.aux
A-1-10.log
A-1-14.aux
A-1-14.log
B-2-2.aux
A-2-2.log
master.aux
master.log
master.synctex.gz
master.thm
master.toc
myassignment.sty
master.out
.DS_Store
data/
AdvStat4DS_FinalLab.aux
AdvStat4DS_FinalLab.log
AdvStat4DS_FinalLab.out
AdvStat4DS_FinalLab.pdf
AdvStat4DS_FinalLab.synctex.gz
AdvStat4DS_FinalLab.tex